form{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 3px solid #4CAF50;
  padding: 30px;
  border-radius: 10px;
}

label{
  margin: 10px;
  margin-bottom: 2px;
}

.error-message{
  color: #ff0000;
}

.error{
  border-color: #ff0000;;
}

