/**
 * Created by roije on 06/12/2016.
 */
.player-div{
   background-repeat: no-repeat;
   height: 160px;
   text-align: center;
   background-color: #000;
   color: #fff;
   -webkit-filter: grayscale();
   -webkit-filter: brightness(50%);
 }

.player-div:hover{
  -webkit-filter: blur(0);
}

.player-name{
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #test {
    text-align: center;
    background-position:center;

  }
}

.search-field{
  margin-top: 10px;
  margin-bottom: 10px;
}
