<div class="row">
  <div class="search-field col-xs-6 col-md-4 col-sm-6 col-lg-4">
    <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="search">
  </div>
</div>

  {{message}}

  <div *ngFor="let player of players | playerFilter : search">
    <div *ngIf="player === -1">
      "No players found"
    </div>
    <div *ngIf="player !== -1">
      <a (click)="goToPlayer(player)"><div id="test" class="col-lg-2 col-md-4 col-sm-6 col-xs-12 player-div" [ngStyle]="{'background-image' : 'url(' + player.picture + ')'}">
      </div></a>
    </div>
  </div>

